;;; -*- mode: lisp -*-

(in-package :fxr)

(defparameter *fxr-access-token* ""
  "this token is supplied by 1forge. sign up for an account.")
(defparameter *fxr-quotes-url* "https://forex.1forge.com/1.0.3/quotes")
(defparameter *fxr-symbols-url* "https://forex.1forge.com/1.0.3/symbols")
(defparameter *fxr-convert-url* "https://forex.1forge.com/1.0.3/convert")
(defparameter *fxr-market-status* "https://forex.1forge.com/1.0.3/market_status")
(defparameter *fxr-quota* "https://forex.1forge.com/1.0.3/quota")

